# Xcode
DerivedData/
build/

# User settings
*.xcuserstate
xcuserdata/

# Swift Package Manager
.build/
Packages/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots

# Archives
*.xcarchive

# Logs
*.log

# macOS
.DS_Store